* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

main {
  margin: 0 auto;
}

nav {
  overflow: hidden;
  background-color: #b1a894;
}
nav .search-container {
  float: right;
}
@media screen and (max-width: 500px) {
  nav .search-container {
    float: none;
  }
}
nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  nav .search-container button {
    float: none;
  }
}
nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

@media screen and (max-width: 500px) {
  header {
    text-align: center;
  }
}
header img {
  width: 200px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 90%;
}
.grid div {
  text-align: center;
}

.button {
  text-align: center;
}
.button button {
  padding: 10px;
  width: 100px;
}

.hero {
  background: url(/images/PC-Marvel-wallpaper.png);
}
.hero img {
  height: 400px;
  margin-left: 7em;
}
@media screen and (max-width: 500px) {
  .hero img {
    height: unset;
    margin: 0 auto;
  }
}
.hero h1 {
  background: darkred;
  width: 50%;
  margin-top: -1em;
  position: relative;
  margin-left: 4em;
  color: white;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .hero h1 {
    width: 100%;
    margin-left: 0;
    font-size: 2em;
  }
}

section,
aside {
  display: inline-block;
}
section h3,
aside h3 {
  margin-top: 2em;
}

section {
  width: 55%;
  margin-left: 3em;
  margin-right: 1.5em;
  margin-top: 2em;
}
@media screen and (max-width: 1090px) {
  section {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}
section .charImg-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0 auto;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  section .charImg-grid {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 475px) {
  section .charImg-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
section .charImg-grid .charImg-1,
section .charImg-grid .charImg-2,
section .charImg-grid .charImg-3 {
  width: 200px;
}
section .charImg-grid .charImg-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}
section .charImg-grid .charImg-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}
@media screen and (max-width: 475px) {
  section .charImg-grid .charImg-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2/1;
  }
}
section .charImg-grid .charImg-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}
@media screen and (max-width: 768px) {
  section .charImg-grid .charImg-3 {
    display: none;
  }
}

aside {
  background-color: #b1a894;
  width: 38%;
  vertical-align: top;
  padding: 3em;
}
@media screen and (max-width: 1090px) {
  aside {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
aside .charRelated-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
  width: 50%;
}
@media screen and (max-width: 768px) {
  aside .charRelated-grid {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 475px) {
  aside .charRelated-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
aside .charRelated-grid .charImg-1,
aside .charRelated-grid .charImg-2,
aside .charRelated-grid .charImg-3,
aside .charRelated-grid .charImg-4,
aside .charRelated-grid .charImg-5,
aside .charRelated-grid .charImg-6 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
aside .charRelated-grid .charImg-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/1;
}
aside .charRelated-grid .charImg-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 1/2;
}
aside .charRelated-grid .charImg-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 1/3;
}
@media screen and (max-width: 768px) {
  aside .charRelated-grid .charImg-3 {
    display: none;
  }
}
aside .charRelated-grid .charImg-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: 2/1;
}
@media screen and (max-width: 1090px) {
  aside .charRelated-grid .charImg-4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: 1/4;
  }
}
@media screen and (max-width: 550px) {
  aside .charRelated-grid .charImg-4 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: 1/3;
  }
}
@media screen and (max-width: 400px) {
  aside .charRelated-grid .charImg-4 {
    display: none;
  }
}
aside .charRelated-grid .charImg-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2/2;
}
@media screen and (max-width: 1090px) {
  aside .charRelated-grid .charImg-5 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: 1/5;
  }
}
@media screen and (max-width: 550px) {
  aside .charRelated-grid .charImg-5 {
    display: none;
  }
}
aside .charRelated-grid .charImg-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: 2/3;
}
@media screen and (max-width: 1090px) {
  aside .charRelated-grid .charImg-6 {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: 1/6;
  }
}
@media screen and (max-width: 550px) {
  aside .charRelated-grid .charImg-6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: 2/3;
  }
}
@media screen and (max-width: 768px) {
  aside .charRelated-grid .charImg-6 {
    display: none;
  }
}

form {
  max-width: 600px;
  margin: 30px auto;
}
form textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
form .feedback-input {
  color: darkred;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid darkred;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}
form .feedback-input:focus {
  border: 2px solid darkred;
}
form .comment-button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: darkred;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
form .comment-button:hover {
  background: blue;
}