@import "reset";
@import "variables";
@import "mixins";



//General Styling
h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}
main {
    margin: 0 auto;
}

//NavBar Styling
nav {
    overflow: hidden;
    background-color: $background;

    .search-container {
        float: right;

        @include mq(500px) {
            float: none;
        }

        button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;

            @include mq(500px) {
                float: none;
            }
        }
    }

    input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
}

header {
    @include mq(500px) {
        text-align: center;
    }

    img {
        width: 200px;
    }
}

//index page
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    max-width: 90%;

    div {
        text-align: center;
    }
}
.button{
    text-align: center;
    button {
        padding: 10px;
        width: 100px;
    }
}

//character page
.hero {
    background: url(/images/PC-Marvel-wallpaper.png);

    img {
        height: 400px;
        margin-left: 7em;

        @include mq(500px) {
            height: unset;
            margin: 0 auto;
        }
    }

    h1 {
        background: darkred;
        width: 50%;
        margin-top: -1em;
        position: relative;
        margin-left: 4em;
        color: white;
        text-align: center;

        @include mq(500px) {
            width: 100%;
            margin-left: 0;
            font-size: $h2;
        }
    }
}

section,
aside {
    display: inline-block;

    h3 {
        margin-top: 2em;
    }
}

section {
    width: 55%;
    margin-left: 3em;
    margin-right: 1.5em;
    margin-top: 2em;

    @include mq(1090px) {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    // character images grid
    .charImg-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        margin: 0 auto;
        justify-items: center;

        @include mq(768px) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq(475px) {
            grid-template-columns: 1fr;
        }

        .charImg-1,
        .charImg-2,
        .charImg-3 {
            width: 200px;
        }

        .charImg-1 {
            grid-area: 1 / 1;
        }

        .charImg-2 {
            grid-area: 1 / 2;

            @include mq(475px) {
                grid-area: 2 / 1;
            }

        }

        .charImg-3 {
            grid-area: 1 / 3;

            @include mq(768px) {
                display: none;
            }
        }
    }
}

aside {
    background-color: $background;
    width: 38%;
    vertical-align: top;
    padding: 3em;

    @include mq(1090px) {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    // related characters images grid
    .charRelated-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        justify-items: center;
        width: 50%;

        @include mq(768px) {
            grid-template-columns: 1fr 1fr;
        }

        @include mq(475px) {
            grid-template-columns: 1fr;
        }

        .relatedImg-1,
        .relatedImg-2,
        .relatedImg-3,
        .relatedImg-4,
        .relatedImg-5,
        .relatedImg-6 {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .relatedImg-1 {
            grid-area: 1 / 1;
        }

        .relatedImg-2 {
            grid-area: 1 / 2;
        }

        .relatedImg-3 {
            grid-area: 1 / 3;

            @include mq(768px) {
                display: none;
            }
        }

        .relatedImg-4 {
            grid-area: 2 / 1;

            @include mq(1090px) {
                grid-area: 1 / 4;
            }

            @include mq(550px) {
                grid-area: 1 / 3;
            }

            @include mq(400px) {
                display: none;
            }
        }

        .relatedImg-5 {
            grid-area: 2 / 2;

            @include mq(1090px) {
                grid-area: 1 / 5;
            }

            @include mq(550px) {
                display: none;
            }
        }

        .relatedImg-6 {
            grid-area: 2 / 3;

            @include mq(1090px) {
                grid-area: 1 / 6;
            }

            @include mq(550px) {
                grid-area: 2 / 3;
            }

            @include mq(768px) {
                display: none;
            }
        }
    }
}

//comments section
form {
    max-width: 600px;
    margin: 30px auto;

    textarea {
        height: 150px;
        line-height: 150%;
        resize: vertical;
    }

    .feedback-input {
        color: darkred;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border: 2px solid darkred;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
        outline: 0;

        &:focus {
            border: 2px solid darkred;
        }
    }

    .comment-button {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        width: 100%;
        background: darkred;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        color: white;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;
        margin-top: -4px;
        font-weight: 700;

        &:hover {
            background: blue;
        }
    }
}
.userComments {
    max-width: 600px;
    margin: 0 auto;
}